<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <link rel="stylesheet" href="/assets/libs/dropzone.css"></link>
        <link rel="stylesheet" href="/assets/libs/croppie.css"></link>
        <link rel="stylesheet" href="/assets/libs/filemanager.css"></link>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
        {% block head %}
            <title>{% block title %}{% endblock %} - My Webpage</title>
        {% endblock %}
    </head>
    <body>
        <div class="container">
          <h1>Test forms</h1>
          <div>
            {% block content %}{% endblock %}
          </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
